.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 209 218);
  --md-sys-color-surface-tint: rgb(255 177 196);
  --md-sys-color-on-primary: rgb(82 0 35);
  --md-sys-color-primary-container: rgb(236 97 141);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 209 218);
  --md-sys-color-on-secondary: rgb(69 20 36);
  --md-sys-color-secondary-container: rgb(196 124 142);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 211 189);
  --md-sys-color-on-tertiary: rgb(67 25 0);
  --md-sys-color-tertiary-container: rgb(229 111 29);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(27 16 19);
  --md-sys-color-on-background: rgb(243 221 225);
  --md-sys-color-surface: rgb(27 16 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(87 65 70);
  --md-sys-color-on-surface-variant: rgb(244 213 218);
  --md-sys-color-outline: rgb(199 171 176);
  --md-sys-color-outline-variant: rgb(164 138 143);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(243 221 225);
  --md-sys-color-inverse-on-surface: rgb(51 39 41);
  --md-sys-color-inverse-primary: rgb(140 19 68);
  --md-sys-color-primary-fixed: rgb(255 217 224);
  --md-sys-color-on-primary-fixed: rgb(44 0 16);
  --md-sys-color-primary-fixed-dim: rgb(255 177 196);
  --md-sys-color-on-primary-fixed-variant: rgb(112 0 51);
  --md-sys-color-secondary-fixed: rgb(255 217 224);
  --md-sys-color-on-secondary-fixed: rgb(43 1 16);
  --md-sys-color-secondary-fixed-dim: rgb(255 177 196);
  --md-sys-color-on-secondary-fixed-variant: rgb(90 36 53);
  --md-sys-color-tertiary-fixed: rgb(255 219 202);
  --md-sys-color-on-tertiary-fixed: rgb(35 10 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 182 142);
  --md-sys-color-on-tertiary-fixed-variant: rgb(93 38 0);
  --md-sys-color-surface-dim: rgb(27 16 19);
  --md-sys-color-surface-bright: rgb(79 65 68);
  --md-sys-color-surface-container-lowest: rgb(14 5 7);
  --md-sys-color-surface-container-low: rgb(38 26 29);
  --md-sys-color-surface-container: rgb(49 37 39);
  --md-sys-color-surface-container-high: rgb(60 47 50);
  --md-sys-color-surface-container-highest: rgb(72 58 61);
}
