.light {
  --md-sys-color-primary: rgb(167 43 88);
  --md-sys-color-surface-tint: rgb(170 46 91);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(199 69 113);
  --md-sys-color-on-primary-container: rgb(255 251 255);
  --md-sys-color-secondary: rgb(138 75 92);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(253 174 193);
  --md-sys-color-on-secondary-container: rgb(122 62 79);
  --md-sys-color-tertiary: rgb(152 67 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(191 85 0);
  --md-sys-color-on-tertiary-container: rgb(255 251 255);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(255 248 248);
  --md-sys-color-on-background: rgb(36 24 27);
  --md-sys-color-surface: rgb(255 248 248);
  --md-sys-color-on-surface: rgb(36 24 27);
  --md-sys-color-surface-variant: rgb(250 219 224);
  --md-sys-color-on-surface-variant: rgb(87 65 70);
  --md-sys-color-outline: rgb(138 113 118);
  --md-sys-color-outline-variant: rgb(221 191 197);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(58 45 48);
  --md-sys-color-inverse-on-surface: rgb(255 236 239);
  --md-sys-color-inverse-primary: rgb(255 177 196);
  --md-sys-color-primary-fixed: rgb(255 217 224);
  --md-sys-color-on-primary-fixed: rgb(63 0 26);
  --md-sys-color-primary-fixed-dim: rgb(255 177 196);
  --md-sys-color-on-primary-fixed-variant: rgb(138 17 67);
  --md-sys-color-secondary-fixed: rgb(255 217 224);
  --md-sys-color-on-secondary-fixed: rgb(56 9 26);
  --md-sys-color-secondary-fixed-dim: rgb(255 177 196);
  --md-sys-color-on-secondary-fixed-variant: rgb(110 52 69);
  --md-sys-color-tertiary-fixed: rgb(255 219 202);
  --md-sys-color-on-tertiary-fixed: rgb(51 18 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 182 142);
  --md-sys-color-on-tertiary-fixed-variant: rgb(119 51 0);
  --md-sys-color-surface-dim: rgb(234 213 216);
  --md-sys-color-surface-bright: rgb(255 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 242);
  --md-sys-color-surface-container: rgb(255 233 236);
  --md-sys-color-surface-container-high: rgb(249 227 230);
  --md-sys-color-surface-container-highest: rgb(243 221 225);
}
